<nav class="bg-blue-500 text-white p-4">
    <ul class="flex justify-around">
      <li><a routerLink="/home" class="hover:underline">Home</a></li>
      <li><a routerLink="/events-list" class="hover:underline">Events</a></li>
      <li><a routerLink="/create-event" class="hover:underline">Create Event</a></li>
      <li><a routerLink="/signup" class="hover:underline">Signup</a></li>
      <li><a routerLink="/login" class="hover:underline">Login</a></li>
      <li><a routerLink="/profile" class="hover:underline">Profile</a></li>
    </ul>
  </nav>
  